@model FA.JustBlog.Core.Models.Post
@using FA.JustBlog.CustomHelper
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1> <span> What do you think about this post?</span> &nbsp;
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
@*<i class="far fa-star"></i>*@
<i class="fas fa-star-half-alt"></i>

<p>
    <i>Posted on @Html.DisplayPostedDate(Model.PostedOn) with rate @Model.Rate by @Model.ViewCount view(s)</i>
</p>
<p>
    @Html.Raw(Model.PostContent)
</p>
<div class="bg-cyan">
    Tags: @foreach (var tag in Model.Tags)
    {
        <span style="background-color:#34cf6f;color:#fff !important;" class="mx-sm-1"> @Html.TagLink(tag)</span>
    }
</div>
<p>
    <h3>Comments</h3>
</p>
<div>
    <form action="/" method="post">
        <div class="form-group">
            <div class="col-md-10">
                <textarea style="resize:none" class="form-control" rows="10" cols="280" placeholder="Nhập nội dung bình luận bằng tiếng Việt có dấu. Các bình luận thô tục, xúc phạm danh dự người khác, vi phạm thuần phong mỹ tục của người Việt sẽ không được duyệt."></textarea>
            </div>
        </div>
    </form>
</div>
<div>
    <table class="table table-striped">

        @foreach (var comment in Model.Comments)
        {
            <tr>
                <td>
                    <span>
                        <b>
                            @if (string.IsNullOrEmpty(comment.Name))
                            {

                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => comment.Name)
                            }
                        </b>
                    </span>
                    <span> - Email: @Html.DisplayFor(modelItem => comment.Email)</span>
                    <div>@comment.CommentText</div>
                    <i>@Html.DisplayPostedDate(comment.CommentTime.Value)</i>
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
